<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./static/styles.css" />
  </head>

  <body>
    <div class="container-fluid">
      <div class="row container-fluid">
        <div class="col-md-6">
          <h3 class="titre">Choisissez une fonctionnalité :</h3>
          <div id="critereContainer"></div>
        </div>

        <div class="col-md-6 container-fluid" id="contentContainerAdmin">
          <!-- Le contenu de l'option sélectionnée sera chargé ici -->
        </div>
      </div>
    </div>

    <script src="./static/administration.js"></script>
  </body>
</html>
